@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');

:root {
  font-family: 'Maven Pro', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 10px;
  width: 100vw;
  height: 100vh;
}

#app {
  width: 100%;
  height: 100%;
}


/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #666 #222;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

*::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #222;
}

*::-webkit-scrollbar-track:hover {
  background-color: #222;
}

*::-webkit-scrollbar-track:active {
  background-color: #222;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #333;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #444;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #666;
}

.editor-root {
  width: calc(calc(100vw - 40px) / 2);
  height: calc(calc(100% - 2em) - 0px);
}

.cm-completionIcon {
  padding-right: 1em!important;
  opacity: 1!important;
  vertical-align: middle;
}

.cm-completionIcon-function:after,
.cm-completionIcon-method:after {
  content: url(https://raw.githubusercontent.com/microsoft/vscode-icons/main/icons/dark/symbol-method.svg)!important;
}

.cm-completionIcon-class:after {
  content: url(https://raw.githubusercontent.com/microsoft/vscode-icons/main/icons/dark/symbol-class.svg)!important;
}

.cm-completionIcon-interface:after {
  content: url(https://raw.githubusercontent.com/microsoft/vscode-icons/main/icons/dark/symbol-interface.svg)!important;
}

.cm-completionIcon-variable:after {
  content: url(https://raw.githubusercontent.com/microsoft/vscode-icons/main/icons/dark/symbol-variable.svg)!important;
}

.cm-completionIcon-constant:after {
  content: url(https://raw.githubusercontent.com/microsoft/vscode-icons/main/icons/dark/symbol-constant.svg)!important;
}

.cm-completionIcon-type:after {
  content: url(https://raw.githubusercontent.com/microsoft/vscode-icons/main/icons/dark/symbol-class.svg)!important;
}

.cm-completionIcon-enum:after {
  content: url(https://raw.githubusercontent.com/microsoft/vscode-icons/main/icons/dark/symbol-enum.svg)!important;
}

.cm-completionIcon-property:after {
  content: url(https://raw.githubusercontent.com/microsoft/vscode-icons/main/icons/dark/symbol-property.svg)!important;
}

.cm-completionIcon-keyword:after {
  content: url(https://raw.githubusercontent.com/microsoft/vscode-icons/main/icons/dark/symbol-keyword.svg)!important;
}

.cm-completionIcon-namespace:after {
  content: url(https://raw.githubusercontent.com/microsoft/vscode-icons/main/icons/dark/symbol-namespace.svg)!important;
}

.cm-completionIcon-text:after {
  content: url(https://raw.githubusercontent.com/microsoft/vscode-icons/main/icons/dark/symbol-key.svg)!important;
}
